<h1> Idade Usuário </h1>

<form  action="/check"  method="POST" >

Nome: <input type="text" placeholder ="Escreva o nome" name="nome" />
<br><br>

Idade: <input type="text" placeholder="Escreva sua idade" name="age"/>
<br><br>


<button >Verificar idade </button>

</form>